# TODO: enable again
trigger:
    batch: true
    branches:
        include:
            - 'v3'

variables:
    # Make sure we're exiting training as early as possible
    SPACY_CONFIG_OVERRIDES: '--training.max_epochs=1 --training.max_steps=1'
    WASABI_LOG_FRIENDLY: 1

jobs:
    - job: 'Test'
      strategy:
          matrix:
              Python37Linux:
                  imageName: 'ubuntu-latest'
                  python.version: '3.7'
              Python37Windows:
                  imageName: 'windows-latest'
                  python.version: '3.7'
          maxParallel: 4
      pool:
          vmImage: $(imageName)

      steps:
          - task: UsePythonVersion@0
            inputs:
                versionSpec: '$(python.version)'
                architecture: 'x64'

          - script: |
                pip install "spacy>=3.2.0,<3.5.0"
                pip install pytest
                pip install wheel
            displayName: 'Install dependencies'

          - script: bash run-tests.sh
            displayName: 'Run tests'
