From the text below, extract the following entities in the following format:
{# whitespace #}
Cell: <comma delimited list of strings>
Organism_substance: <comma delimited list of strings>
Pathological_formation: <comma delimited list of strings>
Multi-tissue_structure: <comma delimited list of strings>
Organism_subdivision: <comma delimited list of strings>
Organ: <comma delimited list of strings>
Cellular_component: <comma delimited list of strings>
Anatomical_system: <comma delimited list of strings>
Tissue: <comma delimited list of strings>
Developing_anatomical_structure: <comma delimited list of strings>
Immaterial_anatomical_entity: <comma delimited list of strings>
{# whitespace #}
{# whitespace #}
Text:
"""
{{text}}
"""